body {
	display: flex;
	align-items: center;
	justify-content: center;
}
.change-password__heading {
	text-align: center;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
.change-password {
	flex: 1;
	max-width: 448px;
}
.change-password__form {
	padding: 24px;
}
.change-password__form-password {
	height: 36px;
}
.change-password__form-field {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}
.change-password__submit-button {
	height: 36px;
	width: 100%;
	margin-top: 20px;
	transition: transform 0.3s ease;
}

.change-password__submit-button:hover {
	transform: scale(1.01);
}

.change-password__error {
  color: #b60202;
}