.main-page-wrapper {
	display: flex;
}

.income__form {
	min-height: 550px;
}
.income__heading {
	margin-bottom: 20px;
}

.income__form-fields-wrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.costs__form {
	flex: 1;
}
.costs__form-field {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	margin-top: 20px;
}
.costs__input {
	height: 48px;
}

.income__input {
	height: 48px;
}

.costs__button-submit {
	height: 36px;
	width: 100%;
}
.income__form-field {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
}
.income__button-submit {
	height: 36px;
	width: 100%;
	margin-top: 40px;
}

.main-form {
	padding: 24px;
	max-height: 550px;
}

.form-label {
	display: inline-block;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 32px;
	flex: 1;
}
.forms {
	display: flex;
	gap: 20px;
}
.field-date {
	height: 40px;
	background: #ffffff0b;
	color: #a1a1a1;
	border: 1px solid #ffffff26;
	border-radius: 10px;
	padding: 12px;
	position: relative;
}

.category-select {
	height: 40px;
	background: #ffffff0b;
	border-radius: 10px;
	padding: 10px;
	color: #a1a1a1;
	appearance: none;
	outline: none;
	border: 1px solid #ffffff26;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	filter: invert(1);
	cursor: pointer;
}

.category-select option {
	background: #171717;
	margin-top: 10px;
}

.costs__button-submit {
	margin-top: 20px;
}

.sidebar {
	max-width: 272px;
	width: 100%;
	background-color: #171717;
	min-height: 100vh;
	padding: 8px;
	border-right: 1px solid #171717;
}

.sidebar__heading {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 16px;
}

.sidebar__balance {
	padding-left: 16px;
	font-weight: 500;
}

.sidebar__list {
	padding: 8px;
}
.sidebar__list-item {
	padding: 8px;
	transition: background 0.3s ease;
	border-radius: 8px;
}
.sidebar__list-item a {
	text-decoration: none;
	color: inherit;
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 16px;
}

.sidebar__list-item:hover {
	background: #262626;
}

.form-income-table {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.form-error {
	position: absolute;
	bottom: -25px;
	font-size: 14px;
	color: rgba(255, 60, 60, 0.788);
}

.income-table {
	width: 100%;
	border: 1px solid #262626;
	border-collapse: collapse;
}
.income-table th {
	border: 1px solid #262626;
	padding: 8px;
}
.income-table tr {
	border: 1px solid #262626;
	text-align: center;
}
.income-table td {
	border: 1px solid #262626;
	padding: 8px;
}
