body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login {
  max-width: 400px;
  width: 100%;
}

.login__form {
	background-color: #171717;
	border: 1px solid #ffffff1a;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	gap: 28px;
	padding: 24px;
}

.login__heading {
  text-align: center;
  margin-bottom: 20px;
}

.login__form-password {
	background: #ffffff0b;
	border: 1px solid #ffffff1a;
	border-radius: 8px;
	height: 36px;
	padding-left: 12px;
  color: white;
  width: 100%;
}

.login__form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login__submit-button {
	background-color: #e5e5e5;
	border: none;
	border-radius: 8px;
	height: 36px;
}

.login__error {
  color: #b60202;
}
